<a href="https://colab.research.google.com/github/adipurnamk/Belajar-Pengembangan-Machine-Learning/blob/master/Submission_2_Time_Series_with_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Dataset](https://www.kaggle.com/sumanthvrao/daily-climate-time-series-data)

Attribute Information:

Both hour.csv and day.csv have the following fields, except hr which is not available in day.csv

- instant: record index
- dteday : date
- season : season (1:winter, 2:spring, 3:summer, 4:fall)
- yr : year (0: 2011, 1:2012)
- mnth : month ( 1 to 12)
- hr : hour (0 to 23)
- holiday : weather day is holiday or not (extracted from [Web Link])
- weekday : day of the week
- workingday : if day is neither weekend nor holiday is 1, otherwise is 0.
+ weathersit :
- 1: Clear, Few clouds, Partly cloudy, Partly cloudy
- 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
- 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
- 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog
- temp : Normalized temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-8, t_max=+39 (only in hourly scale)
- atemp: Normalized feeling temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-16, t_max=+50 (only in hourly scale)
- hum: Normalized humidity. The values are divided to 100 (max)
- windspeed: Normalized wind speed. The values are divided to 67 (max)
- casual: count of casual users
- registered: count of registered users
- cnt: count of total rental bikes including both casual and registered

In [136]:
import numpy as np
import pandas as pd
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
import tensorflow as tf

In [137]:
!wget --no-check-certificate \
  https://archive.ics.uci.edu/ml/machine-learning-databases/00275/Bike-Sharing-Dataset.zip \
  -O /content/Bike-Sharing-Dataset.zip

--2020-09-21 16:28:59--  https://archive.ics.uci.edu/ml/machine-learning-databases/00275/Bike-Sharing-Dataset.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 279992 (273K) [application/x-httpd-php]
Saving to: ‘/content/Bike-Sharing-Dataset.zip’

/content/Bike-Shari 100%[===================>] 273.43K  1.06MB/s    in 0.3s

2020-09-21 16:29:00 (1.06 MB/s) - ‘/content/Bike-Sharing-Dataset.zip’ saved [279992/279992]

In [138]:
import zipfile,os
local_zip = '/content/Bike-Sharing-Dataset.zip'
zip_ref = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('/content')
zip_ref.close()

os.listdir('/content')

['.config',
 'day.csv',
 'hour.csv',
 'Readme.txt',
 'Bike-Sharing-Dataset.zip',
 'sample_data']

In [139]:
data_hour = pd.read_csv('/content/hour.csv', index_col='dteday')
data_hour

            instant  season  yr  mnth  ...  windspeed  casual  registered  cnt
dteday                                 ...
2011-01-01        1       1   0     1  ...     0.0000       3          13   16
2011-01-01        2       1   0     1  ...     0.0000       8          32   40
2011-01-01        3       1   0     1  ...     0.0000       5          27   32
2011-01-01        4       1   0     1  ...     0.0000       3          10   13
2011-01-01        5       1   0     1  ...     0.0000       0           1    1
...             ...     ...  ..   ...  ...        ...     ...         ...  ...
2012-12-31    17375       1   1    12  ...     0.1642      11         108  119
2012-12-31    17376       1   1    12  ...     0.1642       8          81   89
2012-12-31    17377       1   1    12  ...     0.1642       7          83   90
2012-12-31    17378       1   1    12  ...     0.1343      13          48   61
2012-12-31    17379       1   1    12  ...     0.1343      12          37   49

[17379 rows x 16 columns]

In [140]:
data_hour.isnull().sum()

instant       0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [141]:
def windowed_dataset(series, window_size, batch_size, shuffle_buffer):
    series = tf.expand_dims(series, axis=-1)
    ds = tf.data.Dataset.from_tensor_slices(series)
    ds = ds.window(window_size + 1, shift=1, drop_remainder=True)
    ds = ds.flat_map(lambda w: w.batch(window_size + 1))
    ds = ds.shuffle(shuffle_buffer)
    ds = ds.map(lambda w: (w[:-1], w[1:]))
    return ds.batch(batch_size).prefetch(1)

In [142]:
data_hour.head()

            instant  season  yr  mnth  ...  windspeed  casual  registered  cnt
dteday                                 ...
2011-01-01        1       1   0     1  ...        0.0       3          13   16
2011-01-01        2       1   0     1  ...        0.0       8          32   40
2011-01-01        3       1   0     1  ...        0.0       5          27   32
2011-01-01        4       1   0     1  ...        0.0       3          10   13
2011-01-01        5       1   0     1  ...        0.0       0           1    1

[5 rows x 16 columns]

In [143]:
data_hour = data_hour.drop(['instant', 'atemp', 'weekday', 'casual', 'registered'], axis=1)
data_hour

            season  yr  mnth  hr  ...  temp   hum  windspeed  cnt
dteday                            ...
2011-01-01       1   0     1   0  ...  0.24  0.81     0.0000   16
2011-01-01       1   0     1   1  ...  0.22  0.80     0.0000   40
2011-01-01       1   0     1   2  ...  0.22  0.80     0.0000   32
2011-01-01       1   0     1   3  ...  0.24  0.75     0.0000   13
2011-01-01       1   0     1   4  ...  0.24  0.75     0.0000    1
...            ...  ..   ...  ..  ...   ...   ...        ...  ...
2012-12-31       1   1    12  19  ...  0.26  0.60     0.1642  119
2012-12-31       1   1    12  20  ...  0.26  0.60     0.1642   89
2012-12-31       1   1    12  21  ...  0.26  0.60     0.1642   90
2012-12-31       1   1    12  22  ...  0.26  0.56     0.1343   61
2012-12-31       1   1    12  23  ...  0.26  0.65     0.1343   49

[17379 rows x 11 columns]

In [144]:
train_dataset = data_hour.sample(frac=0.8,random_state=0).astype(float)
test_dataset = data_hour.astype(float)

In [145]:
train_labels = train_dataset.pop('cnt').astype(float).values
test_labels = test_dataset.pop('cnt').astype(float).values

In [146]:
train_dataset = train_dataset.values[:, np.newaxis]
train_dataset.ndim

3

In [147]:
# train_set = windowed_dataset(train_labels, window_size=60, batch_size=100, shuffle_buffer=1000)
model = tf.keras.models.Sequential([
  tf.keras.layers.LSTM(60, return_sequences=True),
  tf.keras.layers.LSTM(60),
  tf.keras.layers.Dense(30, activation="relu"),
  tf.keras.layers.Dense(10, activation="relu"),
  tf.keras.layers.Dense(1),
])

In [148]:
optimizer = tf.keras.optimizers.SGD(lr=1.0000e-04, momentum=0.9)
model.compile(loss=tf.keras.losses.Huber(),
              optimizer=optimizer,
              metrics=['mae', 'mse'])

In [149]:
history = model.fit(
    train_dataset,
    train_labels, 
    epochs=100, 
    batch_size=64, 
    validation_split=0.2,
    shuffle=False,
)

Epoch 1/100
174/174 [==============================] - 1s 7ms/step - loss: 188.5852 - mae: 189.0851 - mse: 68509.0156 - val_loss: 192.9114 - val_mae: 193.4108 - val_mse: 71715.2656
Epoch 2/100
174/174 [==============================] - 1s 3ms/step - loss: 188.1064 - mae: 188.6048 - mse: 68325.0391 - val_loss: 192.3687 - val_mae: 192.8655 - val_mse: 71500.9688
Epoch 3/100
174/174 [==============================] - 1s 3ms/step - loss: 187.4810 - mae: 187.9772 - mse: 68082.8672 - val_loss: 191.6260 - val_mae: 192.1234 - val_mse: 71205.5547
Epoch 4/100
174/174 [==============================] - 1s 3ms/step - loss: 186.5269 - mae: 187.0227 - mse: 67707.9531 - val_loss: 190.3730 - val_mae: 190.8690 - val_mse: 70697.8203
Epoch 5/100
174/174 [==============================] - 1s 3ms/step - loss: 184.7209 - mae: 185.2160 - mse: 66975.5234 - val_loss: 187.7614 - val_mae: 188.2569 - val_mse: 69591.6953
Epoch 6/100
174/174 [==============================] - 1s 3ms/step - loss: 180.3900 - mae: 180.8863 - mse: 65089.2656 - val_loss: 180.7246 - val_mae: 181.2222 - val_mse: 66319.3750
Epoch 7/100
174/174 [==============================] - 1s 3ms/step - loss: 165.8103 - mae: 166.3091 - mse: 57905.9922 - val_loss: 153.1933 - val_mae: 153.6914 - val_mse: 51675.9570
Epoch 8/100
174/174 [==============================] - 1s 3ms/step - loss: 125.2956 - mae: 125.7944 - mse: 35364.7422 - val_loss: 115.3652 - val_mae: 115.8641 - val_mse: 28816.7441
Epoch 9/100
174/174 [==============================] - 1s 3ms/step - loss: 108.6356 - mae: 109.1339 - mse: 26010.9883 - val_loss: 110.0583 - val_mae: 110.5572 - val_mse: 26871.8965
Epoch 10/100
174/174 [==============================] - 1s 3ms/step - loss: 103.8644 - mae: 104.3629 - mse: 24525.2520 - val_loss: 103.9997 - val_mae: 104.4981 - val_mse: 25126.4473
Epoch 11/100
174/174 [==============================] - 1s 3ms/step - loss: 98.9515 - mae: 99.4495 - mse: 23014.6113 - val_loss: 100.1841 - val_mae: 100.6816 - val_mse: 24274.8164
Epoch 12/100
174/174 [==============================] - 1s 3ms/step - loss: 95.3925 - mae: 95.8903 - mse: 21627.4980 - val_loss: 98.4719 - val_mae: 98.9695 - val_mse: 24439.1484
Epoch 13/100
174/174 [==============================] - 1s 3ms/step - loss: 92.3965 - mae: 92.8935 - mse: 20341.9824 - val_loss: 94.4412 - val_mae: 94.9384 - val_mse: 22957.4551
Epoch 14/100
174/174 [==============================] - 1s 3ms/step - loss: 90.3168 - mae: 90.8140 - mse: 19465.4883 - val_loss: 91.0773 - val_mae: 91.5728 - val_mse: 21477.3066
Epoch 15/100
174/174 [==============================] - 1s 4ms/step - loss: 89.3198 - mae: 89.8166 - mse: 19049.1914 - val_loss: 92.0837 - val_mae: 92.5805 - val_mse: 21677.0234
Epoch 16/100
174/174 [==============================] - 1s 3ms/step - loss: 87.2614 - mae: 87.7587 - mse: 18486.6328 - val_loss: 87.4066 - val_mae: 87.9028 - val_mse: 19684.3730
Epoch 17/100
174/174 [==============================] - 1s 3ms/step - loss: 85.9021 - mae: 86.3988 - mse: 17913.7832 - val_loss: 85.6138 - val_mae: 86.1088 - val_mse: 18178.9766
Epoch 18/100
174/174 [==============================] - 1s 3ms/step - loss: 84.3140 - mae: 84.8108 - mse: 17369.3652 - val_loss: 87.9100 - val_mae: 88.4056 - val_mse: 19927.0625
Epoch 19/100
174/174 [==============================] - 1s 3ms/step - loss: 84.5869 - mae: 85.0838 - mse: 17394.5195 - val_loss: 84.1960 - val_mae: 84.6922 - val_mse: 16863.8691
Epoch 20/100
174/174 [==============================] - 1s 3ms/step - loss: 82.5062 - mae: 83.0031 - mse: 16687.0156 - val_loss: 86.8632 - val_mae: 87.3587 - val_mse: 19724.8750
Epoch 21/100
174/174 [==============================] - 1s 3ms/step - loss: 83.2804 - mae: 83.7772 - mse: 17037.1523 - val_loss: 88.0832 - val_mae: 88.5783 - val_mse: 20736.9082
Epoch 22/100
174/174 [==============================] - 1s 3ms/step - loss: 81.5853 - mae: 82.0821 - mse: 16587.5078 - val_loss: 83.3767 - val_mae: 83.8732 - val_mse: 16978.1855
Epoch 23/100
174/174 [==============================] - 1s 3ms/step - loss: 82.9574 - mae: 83.4539 - mse: 17028.3105 - val_loss: 87.6424 - val_mae: 88.1385 - val_mse: 21261.6934
Epoch 24/100
174/174 [==============================] - 1s 3ms/step - loss: 81.0589 - mae: 81.5555 - mse: 16239.9062 - val_loss: 82.8496 - val_mae: 83.3445 - val_mse: 17213.3379
Epoch 25/100
174/174 [==============================] - 1s 3ms/step - loss: 81.6339 - mae: 82.1310 - mse: 16523.9883 - val_loss: 82.2320 - val_mae: 82.7281 - val_mse: 17519.1602
Epoch 26/100
174/174 [==============================] - 1s 3ms/step - loss: 79.9727 - mae: 80.4695 - mse: 15948.7881 - val_loss: 83.1872 - val_mae: 83.6832 - val_mse: 18837.6699
Epoch 27/100
174/174 [==============================] - 1s 3ms/step - loss: 79.1042 - mae: 79.6003 - mse: 15635.8613 - val_loss: 81.5990 - val_mae: 82.0956 - val_mse: 17636.5762
Epoch 28/100
174/174 [==============================] - 1s 3ms/step - loss: 79.5592 - mae: 80.0556 - mse: 15783.1240 - val_loss: 80.5676 - val_mae: 81.0634 - val_mse: 16992.3496
Epoch 29/100
174/174 [==============================] - 1s 3ms/step - loss: 79.2371 - mae: 79.7330 - mse: 15962.7812 - val_loss: 82.9897 - val_mae: 83.4868 - val_mse: 16276.5654
Epoch 30/100
174/174 [==============================] - 1s 3ms/step - loss: 79.3396 - mae: 79.8359 - mse: 15896.3975 - val_loss: 81.4878 - val_mae: 81.9852 - val_mse: 17835.4316
Epoch 31/100
174/174 [==============================] - 1s 3ms/step - loss: 79.0504 - mae: 79.5467 - mse: 15842.8604 - val_loss: 84.7122 - val_mae: 85.2096 - val_mse: 18800.1934
Epoch 32/100
174/174 [==============================] - 1s 3ms/step - loss: 78.7856 - mae: 79.2814 - mse: 15919.2725 - val_loss: 82.5467 - val_mae: 83.0442 - val_mse: 15952.8945
Epoch 33/100
174/174 [==============================] - 1s 3ms/step - loss: 76.6814 - mae: 77.1770 - mse: 15217.3994 - val_loss: 77.6644 - val_mae: 78.1608 - val_mse: 15212.7266
Epoch 34/100
174/174 [==============================] - 1s 3ms/step - loss: 77.7791 - mae: 78.2757 - mse: 15612.9434 - val_loss: 82.9616 - val_mae: 83.4571 - val_mse: 19342.0664
Epoch 35/100
174/174 [==============================] - 1s 3ms/step - loss: 76.5232 - mae: 77.0194 - mse: 15077.4023 - val_loss: 79.8093 - val_mae: 80.3063 - val_mse: 14987.8047
Epoch 36/100
174/174 [==============================] - 1s 3ms/step - loss: 74.2638 - mae: 74.7595 - mse: 14452.0225 - val_loss: 74.7708 - val_mae: 75.2667 - val_mse: 14315.7998
Epoch 37/100
174/174 [==============================] - 1s 3ms/step - loss: 72.9998 - mae: 73.4956 - mse: 13949.3242 - val_loss: 74.5838 - val_mae: 75.0801 - val_mse: 14192.3525
Epoch 38/100
174/174 [==============================] - 1s 3ms/step - loss: 73.0349 - mae: 73.5306 - mse: 13939.0898 - val_loss: 75.1121 - val_mae: 75.6072 - val_mse: 16050.5693
Epoch 39/100
174/174 [==============================] - 1s 3ms/step - loss: 71.0698 - mae: 71.5652 - mse: 13358.2021 - val_loss: 73.3067 - val_mae: 73.8024 - val_mse: 15433.1016
Epoch 40/100
174/174 [==============================] - 1s 3ms/step - loss: 71.3493 - mae: 71.8447 - mse: 13462.4941 - val_loss: 73.6557 - val_mae: 74.1501 - val_mse: 15611.5068
Epoch 41/100
174/174 [==============================] - 1s 3ms/step - loss: 69.6412 - mae: 70.1360 - mse: 12841.6201 - val_loss: 77.1724 - val_mae: 77.6681 - val_mse: 16423.8828
Epoch 42/100
174/174 [==============================] - 1s 3ms/step - loss: 68.6671 - mae: 69.1621 - mse: 12413.3057 - val_loss: 75.0228 - val_mae: 75.5190 - val_mse: 15547.8818
Epoch 43/100
174/174 [==============================] - 1s 3ms/step - loss: 69.1110 - mae: 69.6062 - mse: 12570.3076 - val_loss: 68.2683 - val_mae: 68.7639 - val_mse: 12953.5449
Epoch 44/100
174/174 [==============================] - 1s 3ms/step - loss: 66.3763 - mae: 66.8716 - mse: 11797.9482 - val_loss: 74.1321 - val_mae: 74.6266 - val_mse: 15749.7148
Epoch 45/100
174/174 [==============================] - 1s 3ms/step - loss: 66.8418 - mae: 67.3357 - mse: 11792.6182 - val_loss: 75.9091 - val_mae: 76.4027 - val_mse: 14610.5254
Epoch 46/100
174/174 [==============================] - 1s 3ms/step - loss: 66.6923 - mae: 67.1865 - mse: 11770.5928 - val_loss: 67.4987 - val_mae: 67.9915 - val_mse: 13195.3975
Epoch 47/100
174/174 [==============================] - 1s 3ms/step - loss: 65.4709 - mae: 65.9654 - mse: 11432.9355 - val_loss: 78.0894 - val_mae: 78.5831 - val_mse: 13825.8457
Epoch 48/100
174/174 [==============================] - 1s 3ms/step - loss: 64.8704 - mae: 65.3646 - mse: 11172.2881 - val_loss: 68.9604 - val_mae: 69.4543 - val_mse: 13258.7080
Epoch 49/100
174/174 [==============================] - 1s 3ms/step - loss: 63.0681 - mae: 63.5623 - mse: 10465.3447 - val_loss: 72.5543 - val_mae: 73.0489 - val_mse: 13658.8682
Epoch 50/100
174/174 [==============================] - 1s 4ms/step - loss: 64.6748 - mae: 65.1692 - mse: 10980.2617 - val_loss: 72.2773 - val_mae: 72.7717 - val_mse: 14269.8760
Epoch 51/100
174/174 [==============================] - 1s 4ms/step - loss: 62.8496 - mae: 63.3431 - mse: 10493.3936 - val_loss: 60.0136 - val_mae: 60.5077 - val_mse: 9816.8994
Epoch 52/100
174/174 [==============================] - 1s 4ms/step - loss: 61.4758 - mae: 61.9695 - mse: 10106.7637 - val_loss: 67.1789 - val_mae: 67.6729 - val_mse: 12200.6777
Epoch 53/100
174/174 [==============================] - 1s 4ms/step - loss: 61.1521 - mae: 61.6453 - mse: 9967.2021 - val_loss: 63.5567 - val_mae: 64.0511 - val_mse: 10288.3350
Epoch 54/100
174/174 [==============================] - 1s 4ms/step - loss: 59.9216 - mae: 60.4153 - mse: 9420.5498 - val_loss: 73.3532 - val_mae: 73.8457 - val_mse: 14144.4502
Epoch 55/100
174/174 [==============================] - 1s 4ms/step - loss: 62.1063 - mae: 62.6003 - mse: 10066.6904 - val_loss: 59.3342 - val_mae: 59.8266 - val_mse: 9681.5342
Epoch 56/100
174/174 [==============================] - 1s 4ms/step - loss: 59.9459 - mae: 60.4385 - mse: 9578.9707 - val_loss: 57.5809 - val_mae: 58.0736 - val_mse: 9126.4131
Epoch 57/100
174/174 [==============================] - 1s 4ms/step - loss: 60.0545 - mae: 60.5481 - mse: 9737.7676 - val_loss: 61.5686 - val_mae: 62.0620 - val_mse: 10140.3311
Epoch 58/100
174/174 [==============================] - 1s 4ms/step - loss: 60.8271 - mae: 61.3200 - mse: 9707.2373 - val_loss: 54.3496 - val_mae: 54.8422 - val_mse: 7772.0962
Epoch 59/100
174/174 [==============================] - 1s 4ms/step - loss: 61.4809 - mae: 61.9738 - mse: 9855.4492 - val_loss: 60.0221 - val_mae: 60.5142 - val_mse: 9889.6543
Epoch 60/100
174/174 [==============================] - 1s 4ms/step - loss: 59.0712 - mae: 59.5647 - mse: 9114.0518 - val_loss: 60.4154 - val_mae: 60.9084 - val_mse: 9454.2305
Epoch 61/100
174/174 [==============================] - 1s 4ms/step - loss: 56.9333 - mae: 57.4268 - mse: 8608.2041 - val_loss: 58.7811 - val_mae: 59.2721 - val_mse: 9003.4609
Epoch 62/100
174/174 [==============================] - 1s 4ms/step - loss: 57.8826 - mae: 58.3758 - mse: 8879.6934 - val_loss: 58.6976 - val_mae: 59.1896 - val_mse: 8902.1006
Epoch 63/100
174/174 [==============================] - 1s 4ms/step - loss: 56.5603 - mae: 57.0535 - mse: 8542.5488 - val_loss: 62.6000 - val_mae: 63.0907 - val_mse: 10359.7422
Epoch 64/100
174/174 [==============================] - 1s 4ms/step - loss: 56.8553 - mae: 57.3482 - mse: 8492.2637 - val_loss: 52.7800 - val_mae: 53.2705 - val_mse: 7520.8193
Epoch 65/100
174/174 [==============================] - 1s 4ms/step - loss: 55.4453 - mae: 55.9376 - mse: 8090.2915 - val_loss: 55.5307 - val_mae: 56.0230 - val_mse: 8422.7637
Epoch 66/100
174/174 [==============================] - 1s 4ms/step - loss: 55.0107 - mae: 55.5038 - mse: 7974.0298 - val_loss: 66.5862 - val_mae: 67.0776 - val_mse: 11155.3652
Epoch 67/100
174/174 [==============================] - 1s 4ms/step - loss: 56.7473 - mae: 57.2406 - mse: 8375.0400 - val_loss: 53.9373 - val_mae: 54.4291 - val_mse: 7399.8696
Epoch 68/100
174/174 [==============================] - 1s 4ms/step - loss: 57.1900 - mae: 57.6827 - mse: 8681.6455 - val_loss: 60.9640 - val_mae: 61.4564 - val_mse: 9351.9463
Epoch 69/100
174/174 [==============================] - 1s 4ms/step - loss: 54.0517 - mae: 54.5440 - mse: 7776.0908 - val_loss: 57.4051 - val_mae: 57.8987 - val_mse: 8528.6182
Epoch 70/100
174/174 [==============================] - 1s 4ms/step - loss: 57.1851 - mae: 57.6782 - mse: 8464.6836 - val_loss: 55.2186 - val_mae: 55.7108 - val_mse: 7730.6270
Epoch 71/100
174/174 [==============================] - 1s 4ms/step - loss: 55.7512 - mae: 56.2441 - mse: 8249.1982 - val_loss: 63.6759 - val_mae: 64.1675 - val_mse: 10076.4521
Epoch 72/100
174/174 [==============================] - 1s 4ms/step - loss: 54.4687 - mae: 54.9613 - mse: 7854.1831 - val_loss: 51.4006 - val_mae: 51.8896 - val_mse: 7329.7720
Epoch 73/100
174/174 [==============================] - 1s 4ms/step - loss: 53.8090 - mae: 54.3015 - mse: 7643.5791 - val_loss: 54.3546 - val_mae: 54.8460 - val_mse: 7638.2764
Epoch 74/100
174/174 [==============================] - 1s 4ms/step - loss: 54.0485 - mae: 54.5412 - mse: 7701.7715 - val_loss: 48.2405 - val_mae: 48.7311 - val_mse: 6211.2593
Epoch 75/100
174/174 [==============================] - 1s 3ms/step - loss: 53.9973 - mae: 54.4894 - mse: 7768.8677 - val_loss: 55.2969 - val_mae: 55.7888 - val_mse: 7809.4673
Epoch 76/100
174/174 [==============================] - 1s 3ms/step - loss: 55.0367 - mae: 55.5294 - mse: 7973.2119 - val_loss: 58.9654 - val_mae: 59.4575 - val_mse: 8467.4824
Epoch 77/100
174/174 [==============================] - 1s 4ms/step - loss: 51.1428 - mae: 51.6343 - mse: 6960.8833 - val_loss: 54.0370 - val_mae: 54.5283 - val_mse: 7142.1372
Epoch 78/100
174/174 [==============================] - 1s 4ms/step - loss: 51.8426 - mae: 52.3343 - mse: 7252.4819 - val_loss: 54.1379 - val_mae: 54.6287 - val_mse: 6876.6636
Epoch 79/100
174/174 [==============================] - 1s 3ms/step - loss: 52.9638 - mae: 53.4560 - mse: 7443.2461 - val_loss: 54.5987 - val_mae: 55.0904 - val_mse: 7369.0298
Epoch 80/100
174/174 [==============================] - 1s 4ms/step - loss: 54.0301 - mae: 54.5218 - mse: 7797.3560 - val_loss: 52.7936 - val_mae: 53.2840 - val_mse: 7011.6592
Epoch 81/100
174/174 [==============================] - 1s 4ms/step - loss: 51.5820 - mae: 52.0734 - mse: 7001.8062 - val_loss: 52.9252 - val_mae: 53.4160 - val_mse: 7149.9287
Epoch 82/100
174/174 [==============================] - 1s 3ms/step - loss: 49.6307 - mae: 50.1227 - mse: 6497.1040 - val_loss: 50.8782 - val_mae: 51.3690 - val_mse: 6760.8271
Epoch 83/100
174/174 [==============================] - 1s 4ms/step - loss: 50.7288 - mae: 51.2208 - mse: 6756.5063 - val_loss: 56.4324 - val_mae: 56.9258 - val_mse: 7925.9922
Epoch 84/100
174/174 [==============================] - 1s 3ms/step - loss: 49.2173 - mae: 49.7099 - mse: 6441.7607 - val_loss: 52.4196 - val_mae: 52.9140 - val_mse: 6374.1914
Epoch 85/100
174/174 [==============================] - 1s 4ms/step - loss: 48.9863 - mae: 49.4785 - mse: 6323.8296 - val_loss: 48.8548 - val_mae: 49.3470 - val_mse: 6151.4438
Epoch 86/100
174/174 [==============================] - 1s 4ms/step - loss: 51.3123 - mae: 51.8050 - mse: 6765.6904 - val_loss: 47.2267 - val_mae: 47.7173 - val_mse: 5570.9829
Epoch 87/100
174/174 [==============================] - 1s 4ms/step - loss: 49.1510 - mae: 49.6436 - mse: 6269.0615 - val_loss: 48.8369 - val_mae: 49.3305 - val_mse: 6253.7183
Epoch 88/100
174/174 [==============================] - 1s 4ms/step - loss: 47.4530 - mae: 47.9451 - mse: 5914.1333 - val_loss: 50.9357 - val_mae: 51.4276 - val_mse: 6230.7637
Epoch 89/100
174/174 [==============================] - 1s 4ms/step - loss: 48.8153 - mae: 49.3076 - mse: 6205.1118 - val_loss: 47.5922 - val_mae: 48.0842 - val_mse: 5620.8901
Epoch 90/100
174/174 [==============================] - 1s 4ms/step - loss: 49.0224 - mae: 49.5142 - mse: 6194.2603 - val_loss: 48.0326 - val_mae: 48.5257 - val_mse: 5860.9683
Epoch 91/100
174/174 [==============================] - 1s 4ms/step - loss: 50.8168 - mae: 51.3089 - mse: 6692.2476 - val_loss: 53.9097 - val_mae: 54.4013 - val_mse: 6892.2739
Epoch 92/100
174/174 [==============================] - 1s 4ms/step - loss: 49.3910 - mae: 49.8835 - mse: 6231.0083 - val_loss: 50.0872 - val_mae: 50.5794 - val_mse: 5985.2505
Epoch 93/100
174/174 [==============================] - 1s 4ms/step - loss: 48.8541 - mae: 49.3461 - mse: 6232.6782 - val_loss: 56.9275 - val_mae: 57.4205 - val_mse: 7690.5630
Epoch 94/100
174/174 [==============================] - 1s 3ms/step - loss: 48.8021 - mae: 49.2942 - mse: 6118.3276 - val_loss: 45.0759 - val_mae: 45.5683 - val_mse: 5212.4727
Epoch 95/100
174/174 [==============================] - 1s 3ms/step - loss: 48.3766 - mae: 48.8687 - mse: 6065.3608 - val_loss: 49.1348 - val_mae: 49.6278 - val_mse: 6124.3335
Epoch 96/100
174/174 [==============================] - 1s 3ms/step - loss: 47.4016 - mae: 47.8935 - mse: 5863.5669 - val_loss: 43.1708 - val_mae: 43.6622 - val_mse: 4689.4961
Epoch 97/100
174/174 [==============================] - 1s 3ms/step - loss: 46.4766 - mae: 46.9684 - mse: 5655.0693 - val_loss: 48.3483 - val_mae: 48.8415 - val_mse: 5695.1748
Epoch 98/100
174/174 [==============================] - 1s 3ms/step - loss: 47.2333 - mae: 47.7250 - mse: 5862.4658 - val_loss: 43.1932 - val_mae: 43.6835 - val_mse: 4675.7197
Epoch 99/100
174/174 [==============================] - 1s 3ms/step - loss: 47.3166 - mae: 47.8086 - mse: 5904.8623 - val_loss: 52.8334 - val_mae: 53.3265 - val_mse: 6470.0732
Epoch 100/100
174/174 [==============================] - 1s 3ms/step - loss: 48.1431 - mae: 48.6350 - mse: 6237.0601 - val_loss: 45.6475 - val_mae: 46.1395 - val_mse: 5810.5771