<a href="https://colab.research.google.com/github/adipurnamk/Belajar-Pengembangan-Machine-Learning/blob/master/Yelp__Binary_Text_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Dataset](https://www.kaggle.com/marklvl/sentiment-labelled-sentences-data-set?)

In [1]:
# melakukan ekstraksi pada file zip
import zipfile,os
local_zip = '/content/22169_30047_bundle_archive.zip'
zip_ref = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('/content')
zip_ref.close()

os.listdir('/content')

['.config',
 'sentiment labelled sentences',
 '22169_30047_bundle_archive.zip',
 'sample_data']

In [2]:
import pandas as pd
df = pd.read_csv('/content/sentiment labelled sentences/yelp_labelled.txt', names=['sentence', 'label'], sep='\t')
df

                                              sentence  label
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [3]:
df.tail()

                                              sentence  label
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

In [4]:
from sklearn.model_selection import train_test_split
kalimat = df['sentence'].values
y = df['label'].values
kalimat_latih, kalimat_test, y_latih, y_test = train_test_split(kalimat, y, test_size=0.2)

In [5]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
 
tokenizer = Tokenizer(num_words=250, oov_token='x')
tokenizer.fit_on_texts(kalimat_latih) 
tokenizer.fit_on_texts(kalimat_test)
 
sekuens_latih = tokenizer.texts_to_sequences(kalimat_latih)
sekuens_test = tokenizer.texts_to_sequences(kalimat_test)
 
padded_latih = pad_sequences(sekuens_latih) 
padded_test = pad_sequences(sekuens_test)

Untuk arsitektur yang akan digunakan adalah layer embedding, dengan argumen pertama sesuai dengan jumlah vocabulary/kata yang kita pakai pada tokenizer. Argumen selanjutnya adalah dimensi embedding, dan input_length yang merupakan panjang dari sequence. Nah di kita tidak menggunakan layer Flatten melainkan kita menggantinya dengan GlobalAveragePooling1D. Fungsi ini bekerja lebih baik pada kasus NLP dibanding Flatten.

In [6]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(250, 16, input_length=20),
    tf.keras.layers.GlobalAveragePooling1D(),
    tf.keras.layers.Dense(24, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [7]:
num_epochs = 30
history = model.fit(padded_latih, y_latih, epochs=num_epochs, 
                    validation_data=(padded_test, y_test), verbose=2)

Epoch 1/30
WARNING:tensorflow:Model was constructed with shape (None, 20) for input Tensor("embedding_input:0", shape=(None, 20), dtype=float32), but it was called on an input with incompatible shape (32, 31).
WARNING:tensorflow:Model was constructed with shape (None, 20) for input Tensor("embedding_input:0", shape=(None, 20), dtype=float32), but it was called on an input with incompatible shape (32, 31).
WARNING:tensorflow:Model was constructed with shape (None, 20) for input Tensor("embedding_input:0", shape=(None, 20), dtype=float32), but it was called on an input with incompatible shape (None, 32).
25/25 - 0s - loss: 0.6915 - accuracy: 0.5387 - val_loss: 0.6942 - val_accuracy: 0.4600
Epoch 2/30
25/25 - 0s - loss: 0.6893 - accuracy: 0.5462 - val_loss: 0.6954 - val_accuracy: 0.4600
Epoch 3/30
25/25 - 0s - loss: 0.6864 - accuracy: 0.5537 - val_loss: 0.6947 - val_accuracy: 0.4650
Epoch 4/30
25/25 - 0s - loss: 0.6821 - accuracy: 0.5962 - val_loss: 0.6901 - val_accuracy: 0.4800
Epoch 5/30
25/25 - 0s - loss: 0.6757 - accuracy: 0.6087 - val_loss: 0.6832 - val_accuracy: 0.4950
Epoch 6/30
25/25 - 0s - loss: 0.6664 - accuracy: 0.6225 - val_loss: 0.6746 - val_accuracy: 0.5250
Epoch 7/30
25/25 - 0s - loss: 0.6539 - accuracy: 0.6725 - val_loss: 0.6662 - val_accuracy: 0.5500
Epoch 8/30
25/25 - 0s - loss: 0.6367 - accuracy: 0.6875 - val_loss: 0.6538 - val_accuracy: 0.5700
Epoch 9/30
25/25 - 0s - loss: 0.6169 - accuracy: 0.6963 - val_loss: 0.6316 - val_accuracy: 0.6300
Epoch 10/30
25/25 - 0s - loss: 0.5928 - accuracy: 0.7538 - val_loss: 0.6161 - val_accuracy: 0.6250
Epoch 11/30
25/25 - 0s - loss: 0.5666 - accuracy: 0.7775 - val_loss: 0.6054 - val_accuracy: 0.6350
Epoch 12/30
25/25 - 0s - loss: 0.5397 - accuracy: 0.7875 - val_loss: 0.5741 - val_accuracy: 0.6800
Epoch 13/30
25/25 - 0s - loss: 0.5109 - accuracy: 0.8050 - val_loss: 0.5630 - val_accuracy: 0.6700
Epoch 14/30
25/25 - 0s - loss: 0.4856 - accuracy: 0.8138 - val_loss: 0.5446 - val_accuracy: 0.7100
Epoch 15/30
25/25 - 0s - loss: 0.4626 - accuracy: 0.8350 - val_loss: 0.5479 - val_accuracy: 0.6850
Epoch 16/30
25/25 - 0s - loss: 0.4396 - accuracy: 0.8238 - val_loss: 0.5114 - val_accuracy: 0.7450
Epoch 17/30
25/25 - 0s - loss: 0.4182 - accuracy: 0.8350 - val_loss: 0.4955 - val_accuracy: 0.7550
Epoch 18/30
25/25 - 0s - loss: 0.4014 - accuracy: 0.8425 - val_loss: 0.4995 - val_accuracy: 0.7500
Epoch 19/30
25/25 - 0s - loss: 0.3869 - accuracy: 0.8425 - val_loss: 0.4847 - val_accuracy: 0.7650
Epoch 20/30
25/25 - 0s - loss: 0.3729 - accuracy: 0.8525 - val_loss: 0.4918 - val_accuracy: 0.7400
Epoch 21/30
25/25 - 0s - loss: 0.3633 - accuracy: 0.8625 - val_loss: 0.5007 - val_accuracy: 0.7250
Epoch 22/30
25/25 - 0s - loss: 0.3473 - accuracy: 0.8600 - val_loss: 0.4545 - val_accuracy: 0.7900
Epoch 23/30
25/25 - 0s - loss: 0.3402 - accuracy: 0.8587 - val_loss: 0.4641 - val_accuracy: 0.7600
Epoch 24/30
25/25 - 0s - loss: 0.3307 - accuracy: 0.8612 - val_loss: 0.4791 - val_accuracy: 0.7500
Epoch 25/30
25/25 - 0s - loss: 0.3237 - accuracy: 0.8625 - val_loss: 0.4506 - val_accuracy: 0.7650
Epoch 26/30
25/25 - 0s - loss: 0.3193 - accuracy: 0.8662 - val_loss: 0.4423 - val_accuracy: 0.7900
Epoch 27/30
25/25 - 0s - loss: 0.3129 - accuracy: 0.8600 - val_loss: 0.4377 - val_accuracy: 0.7900
Epoch 28/30
25/25 - 0s - loss: 0.3096 - accuracy: 0.8625 - val_loss: 0.4414 - val_accuracy: 0.8050
Epoch 29/30
25/25 - 0s - loss: 0.2983 - accuracy: 0.8725 - val_loss: 0.4648 - val_accuracy: 0.7500
Epoch 30/30
25/25 - 0s - loss: 0.2949 - accuracy: 0.8775 - val_loss: 0.4393 - val_accuracy: 0.7950